* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 242, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn {
  background-color: rgb(43, 43, 110);
  color: whitesmoke;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 1.5rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(23, 23, 77);
}
